@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import url('/node_modules/@dracula/dracula-ui/styles/dracula-ui.css');
@import './forms.scss';

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
